.App {
  padding: 15px;
}

.App-header {
  background-color: black;
  height: 100px;
  padding: 25px;
  color: blue;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
